
.sizeofcards {
  width: 100%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);


}
.cart{
  margin-left: 90%;
}



.cart_img {
  display: flex;
  width: 400px;
}

.cart_img p {
  font-weight: bold;
  margin-left: 10px;
}

.cart_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  padding-bottom: 5px;
}

.cart_box div:nth-child(2) button {
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 5px;
}

.cart_box div:nth-child(3) button {
  padding: 5px 10px;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  outline: none;

  
  border-radius: 5px;
  cursor: pointer;
}

.cart_box div:nth-child(3) span {
  background-color: rgb(78, 82, 78);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.totalpr{
  color: #07294d;
  margin-left: 5rem;
}
.total {
  display: flex;
 
}
.totalboundry{
  border: 2px solid black;
}

.total span:nth-child(1) {
  font-size: 2rem;
color: #ffc600;
  font-weight: bold;
  letter-spacing: 2px;
}

.total span:nth-child(2) {
  font-size: 2rem;

  font-weight: bold;
}





.my_shop {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  font-family: cursive;
  cursor: pointer;
}
.cart {
  cursor: pointer;
  
}
.cart span:nth-child(1) {
  font-size: 2rem;
  color: white;
}
.cart span:nth-child(2) {
  padding: 0 3px;
  background-color: red;
  color: white;
  font-weight: bolx;
  border-radius: 5px;
  position: relative;
  top: -15px;
}




/* Payment */

body{

  background-color: rgb(255, 255, 255);
}




.cardpayment{
  border:none;
}

.form-control-pay {
  border-bottom: 2px solid #eee !important;
  border: none;
  font-weight: 600
}

.form-control-pay:focus {
  color: #495057;

  border-color: #8bbafe;
  outline: 0;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid blue !important;
}



.inputbox {
  position: relative;
  margin-bottom: 20px;
  width: 100%
}

.inputbox span {
  position: absolute;
  top: 7px;
  left: 11px;
  transition: 0.5s
}

.inputbox i {
  position: absolute;
  top: 13px;
  right: 8px;
  transition: 0.5s;
  color: #3F51B5
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}

.inputbox input:focus~span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px
}

.inputbox input:valid~span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px
}

.card-blue{

  background-color: #492bc4;
}

.hightlight{

  background-color: #5737d9;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 14px;
}

.yellow{

  color: #fdcc49; 
}

.decoration{

  text-decoration: none;
  font-size: 14px;
}

.btn-success {
  color: #fff;
  background-color: #492bc4;
  border-color:#492bc4;
}

.btn-success:hover {
  color: #fff;
  background-color:#492bc4;
  border-color: #492bc4;
}


.decoration:hover{

  text-decoration: none;
  color: #fdcc49; 
}